.vscode/
.idea/
*.sublime-workspace
*.swp
*.swo
dist/
build/
target/
out/
release/
debug/
*.class
*.pyc
*.dll
*.exe
*.obj
*.o
*.so
coverage/
*.coverage
*.gcov
*.gcda
*.testwise.xml
logs/
*.log
*.svn/
*.git/
*.hg/
node_modules/
npm-debug.log
yarn.lock
package-lock.json
.pip-cache/
.env
.DS_Store